<!-- views/profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ./partials/header %>
</head>
<body>
  <%- include ./partials/navbar %>
  <div class="container">
    <h1>Profile</h1>
    <div class="profile-info">
      <h3>Welcome, <%= user.name %></h3>
      <p>Email: <%= user.email %></p>
      <p>Username: <%= user.username %></p>
      <p>Phone: <%= user.phone %></p>
      <p>Website: <%= user.website %></p>
    </div>
  </div>
  <%- include ./partials/scripts %>
</body>
</html>
